{erl_opts, [debug_info]}.

{deps, [
    {roadrunner, {git, "https://github.com/arizona-framework/roadrunner.git",
                  {ref, "a8596b786effa0ad8706548ba0a5a3de0ef6cda3"}}},
    {epgsql, "4.8.0"},
    {pooler, "1.6.0"}
]}.

{relx, [
    {release, {roadrunner_httparena, "0.1.0"},
        [roadrunner_httparena, roadrunner]},
    {sys_config, "./config/sys.config"},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [{mode, prod}]}
    ]}
]}.
